.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(3px);
    .detailedGame {
        margin-top: 30px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px 20px 10px 20px;
        z-index: 2;
        max-height: 950px;
        min-height: 950px;
        min-width: 1600px;
        max-width: 1600px;
        background-color: #001879;
        border: 7px solid #c2c3c1;
        color: rgb(247, 239, 239);
        border-radius: 10px;
        box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.733);
        .headingClose {
            display: flex;
            justify-content: space-between;
            margin-right: -10px;
            .path {
                margin: 0 0 0 10px;
                font-size: 12px;
                font-style: italic;
            }
            .close {
                height: 26px;
                width: 25px;
                cursor: pointer;
                &:active {
                    transform: scale(0.7);
                    transition: transform 0.1s;
                }
            }
        }

        .headingContainer {
            width: 97%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 0px 5px 10px;
            margin: 0;
            margin-bottom: 5px;
            .summary {
                display: flex;
                flex-direction: column;
                margin: 0;
                h2,
                h4 {
                    margin: 0;
                }
                .title {
                    font-weight: 400;
                    font-size: 52px;
                }
            }
            .price {
                margin: 0;
                font-weight: 400;
                font-size: 50px;
                margin-right: 5px;
                span {
                    font-size: 22px;
                    font-style: italic;
                }
            }
        }
        .rating {
            font-size: 12px;
            font-style: italic;
            font-weight: 200;
            margin-left: 2px;
        }
    }
}
.content {
    display: flex;
    margin: 1px 5px 1px 5px;
    max-height: 770px;
    min-height: 770px;
    .imgTabs {
        font-size: 62px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 10px;
        border: 5px solid #c2c3c1;
        box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.733);
        border-radius: 10px;
        gap: 10px;
        .image {
            width: 300px;
            height:300px;
            border-radius: 10px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
        }
    }
    .carouselContent {
        display: flex;
        flex-direction: column;
        flex: 1;
        border: 5px solid #c2c3c1;
        box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.733);
        border-radius: 10px;
        overflow: hidden;
        .tabContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            overflow: hidden;
        }
    }
}
.buttonContainer {
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        height: 26px;
        &:active {
            transform: scale(0.7);
            transition: transform 0.1s;
        }
    }
    .buy,
    .like,
    .share {
        margin-top: 0;
        display: flex;
        align-items: center;
        background: none;
        border: none;
        color: white;
        gap: 7px;
        cursor: pointer;
        &:hover {
            color: #1a73e8;
        }
    }
}

@media (max-height: 650px) {
    .container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        z-index: 2;
        backdrop-filter: blur(3px);
        .detailedGame {
            margin-top: 20px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 10px 20px 10px 20px;
            z-index: 2;
            max-height: 600px;
            min-height: 600px;
            min-width: 1200px;
            max-width: 1200px;
            background-color: #001879;
            border: 7px solid #c2c3c1;
            color: rgb(247, 239, 239);
            border-radius: 10px;
            box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.733);
            .headingClose {
                display: flex;
                justify-content: space-between;
                margin-right: -10px;
                .path {
                    margin: 0 0 0 10px;
                    font-size: 12px;
                    font-style: italic;
                }
                .close {
                    height: 26px;
                    width: 25px;
                    cursor: pointer;
                    &:active {
                        transform: scale(0.7);
                        transition: transform 0.1s;
                    }
                }
            }

            .headingContainer {
                width: 97%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 0px 5px 10px;
                margin: 0;
                margin-bottom: 5px;
                .summary {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    h2,
                    h4 {
                        margin: 0;
                    }
                    .title {
                        font-weight: 400;
                        font-size: 52px;
                    }
                }
                .price {
                    margin: 0;
                    font-weight: 400;
                    font-size: 50px;
                    margin-right: 5px;
                    span {
                        font-size: 22px;
                        font-style: italic;
                    }
                }
            }
            .rating {
                font-size: 12px;
                font-style: italic;
                font-weight: 200;
                margin-left: 2px;
            }
        }
    }
    .content {
        max-height: 425px;
        min-height: 425px;
        .imgTabs {
            font-size: 28px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding: 10px;
            border: 5px solid #c2c3c1;
            box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.733);
            border-radius: 10px;
            gap: 10px;
            .image {
                width: 200px;
                height: 200px;
                border-radius: 10px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
            }
        }
        .carouselContent {
            display: flex;
            flex-direction: column;
            flex-direction: center;
            flex: 1;
            border: 5px solid #c2c3c1;
            box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.733);
            border-radius: 10px;
            overflow: hidden;
            .tabContent {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1;
                overflow: hidden;
            }
        }
    }
    .buttonContainer {
        margin-top: 2px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            height: 26px;
            &:active {
                transform: scale(0.7);
                transition: transform 0.1s;
            }
        }
        .buy,
        .like,
        .share {
            margin-top: 0;
            display: flex;
            align-items: center;
            background: none;
            border: none;
            color: white;
            gap: 7px;
            cursor: pointer;
            &:hover {
                color: #1a73e8;
            }
        }
    }
}
